<main class="main-cadParceiros">

    <div class="logoCad-parceiros">
        <img src="/img/logoImg.svg" alt="Logo">
    </div>

    <form action="/parceiros" method="post">
       <div class="form-group-mb-3">
        <label for="nome">Nome</label>
        <input required
            type="text"
            id="nome"
            name="nome"
            class="form-control" 
        />

  </div>
    <div class="form-group-mb-3">
        <label for="numero">numero</label>
            <input  required
                type="text"
                id="numero"
                name="numero"
                class="form-control" 
            />
  </div>

  <div class="form-group-mb-3">
    <label for="email">email</label>
     <input required
       type="text"
       id="email"
       name="email"
       class="form-control" 
     />
  </div>

  <div class="form-group-capParceiros">
    <button type="submit" class="btn-btn-primary">Enviar</button>
    <button type="reset" class="btn-btn-danger">Limpar</button>
  </div>

</form>
</main>