<main class="login-container">

    <div class="welcome-section">
        <h1>Seja bem-vindo</h1>
        <a href="/entrar"><button class="btn-entrar">Entrar</button></a>
    </div>

    <div class="create-account-section">

        <h1>Criar uma conta</h1>

        <form id="createAccountForm" class="create-account-form" action="/create-account" method="POST">
            <div class="form-group">
                <div class="input-container">
                    <input type="text" name="name" id="name" placeholder="Nome" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <input type="tel" name="phone" id="phone" placeholder="Telefone" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <input type="password" name="password" id="password" placeholder="Senha" required>
                </div>
            </div>
            <button type="submit" class="btn-criar">Criar Conta</button>
        </form>

    </div>
</main>

<script src="/js/login.js"></script>
