.restaurants-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.restaurant-card {
    width: 30%; 
    margin: 16px;
    border-radius: 30px;
    padding: 16px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.9);
    line-height: 1.5;
    background-color: #FFF;
    display: grid;
}

.restaurant-card img {
    border-radius: 5px 5px 0 0; /* Para arredondar apenas a parte superior da imagem */
}

.card-details {
    padding: 20px;
}

.card-details p {
    margin-bottom: 5px;
    font-size: 10px;
    gap: 4px;
    margin-top: 5px;
}

.lojas h2{
    font-size: 30px;
    color: orange;
    margin-left: 20px;
    margin-bottom: 30px;
}

.restaurant-card p{
    margin: 5px 0;
}

.card-image {
    width: 118px; /* A imagem ocupará toda a largura do card */
    height: 118px; /* Defina a altura desejada para as imagens */
    object-fit: cover; /* A imagem será redimensionada para preencher o espaço mantendo a proporção */
    border-radius: 5px;
    margin-bottom: 10px;
}

.ver-mais-btn{
    background-color: orange;
    padding: 10px;
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.restaurant-card a{
    color: white;
    text-decoration: none;
    text-align: center;
}