.header{
    display: flex;
}

.header img{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}

.header h1{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.info{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info p{
    margin-left: 0px;
    border-right: solid 2px orange;
    padding: 25px;
}

.info :last-child{
    border: none;
}

.carousel-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: orange;
}

.carousel-button.prev {
    left: 0;
    margin-top: -11px;
}

.carousel-button.next {
    right: 0;
    margin-top: -11px;
}

.carousel{
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
    max-width: 1400px;
    margin-top: 30px;
}

.carousel-item{
    min-width: 20%;
    box-sizing: border-box;
    padding: 5px;
}

.carousel img{
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
    margin-left: 25px;
}

h2{
    margin-left: 40px;
    color: orange;
}

