.logo{
    display: flex;
    margin-left: 50px;
}

.logo h1{
    font-size: 20px;
}

.logo button{
    background-color: orange;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 15px;
    margin-top: 23px;
    margin-left: 20px;
    cursor: pointer;
}

.tabela-parceiros {
    width: 80%;
    overflow-x: auto;
    margin-left: 140px;
    margin-top: 40px;
}

.tabela-parceiros table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-right: 50px;
    text-align: left;
}

.tabela-parceiros th, .tabela-parceiros td {
    padding: 10px;
}

.tabela-parceiros th {
    background-color: orange;
    color: white;
}

.tabela-parceiros tr:nth-child(even) {
    background-color: rgba(255, 226, 172, 0.626);
    
}

.excluir{
    background-color: orange;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.atualizar{
    background-color: orange;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}