* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
}

.container {
    display: flex;
    margin-left: 1.953125vw;
    margin-top: 0.78125vw;
}

.logo {
    padding: 0.78125vw;
    margin-left: 0.78125vw;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.15625vw 0.390625vw;
    border-radius: 3.90625vw;
    width: auto;
    height: 3.125vw;
    margin-top: 1.5625vw;
    margin-left: 1.5625vw;
}

.search-bar img {
    width: 1.5625vw;
    height: 1.5625vw;
    margin-right: 0.390625vw;
}

.search-bar input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 1.25vw;
    padding: 0.390625vw;
    border-radius: 1.171875vw;
    flex-grow: 1;   
}

.search-bar input::placeholder {
    color: #ccc;
    /* Cor do texto placeholder */
}

.location-container {
    display: flex;
    align-items: center;
    position: relative;
}

.location-container #location-display {
    color: #333;
    /* Cor do texto */
    margin-right: 0.390625vw;
    margin-left: 1.5625vw;
}

.location-container img {
    width: 1.5625vw;
    height: 1.5625vw;
    cursor: pointer;
}

#location-input {
    display: none;
    width: 11.71875vw;
    padding: 0.390625vw;
    margin-left: 0.78125vw;
    border: 0.078125vw solid #ccc;
    border-radius: 0.390625vw;
    outline: none;
}

hr {
    color: orange;
    width: 0.15625vw;
    background-color: rgb(221, 150, 9);
    height: 3.90625vw;
    margin-left: 2.34375vw;
    margin-top: 1.09375vw;
    margin-right: 0.390625vw;
    border: rgb(221, 150, 9);
}

#hr2 {
    color: orange;
    width: 0.15625vw;
    background-color: rgb(221, 150, 9);
    height: 3.90625vw;
    margin-left: 2.34375vw;
    margin-top: 1.09375vw;
    margin-right: 0.390625vw;
    border: rgb(221, 150, 9);
}

.options {
    display: flex;
    margin-left: 3.90625vw;
}

.options p {
    font-size: 1.171875vw;
    margin-top: 2.34375vw;
}

.options button {
    margin-top: 1.5625vw;
    color: black;
    background-color: orange;
    border: transparent;
    border-radius: 1.5625vw;
    font-size: 1.015625vw;
    margin-left: 0.78125vw;
    height: 2.734375vw;
    /* Definindo a altura do botão */
    width: 60px;
}

.options img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

#cupomBanner {
    background-color: orange;
    width: 100%;
    height: 100px;
    display: flex;
}

#cupomImg {
    display: flex;
}

#cupomImg img {
    width: 100px;
    height: 100px;
    margin-left: 120px;
    align-items: center;
}

#cupomText {
    display: flex;
    color: white;
    font-size: 17px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15px
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    max-width: 1400px;
    margin-top: 50px;
}

.carousel-item {
    min-width: 20%;
    box-sizing: border-box;
    padding: 5px;
}

.carousel img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
    margin-left: 25px;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: orange;
}

.carousel-button.prev {
    left: 0;
    margin-top: -11px;
}

.carousel-button.next {
    right: 0;
    margin-top: -11px;
}

.carrossel-container2{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 40px;

}

.carousel2 {
    display: flex;
    transition: transform 0.7s ease-in-out;
    width: 100%;
    max-width: 1100px;
    margin-top: 50px;
    margin-left: 40px;
}

.carousel-item2 {
    min-width: 31%;
    box-sizing: border-box;
    margin-left: 95px;

}

.carousel-item2:first-child{
    min-width: 31%;
    box-sizing: border-box;
    margin-left: 0;
}

.carousel2 img {    
    width: 390px;
    height: auto;
    max-width: 600px;
    margin: auto;
}



.carousel-button2 {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 20px;
    color: orange;
}

.carousel-button2.prev {
    left: 0;
    margin-top: 10px;
}

.carousel-button2.next {
    right: 0;
    margin-top: 10px;
}

.carrossel-container3{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.carousel3 {
    display: flex;
    transition: transform 0.9s ease-in-out;
    width: 100%;
    max-width: 1400px;
    margin-top: 50px;
    margin-left: 40px;
}

.carousel-item3 {
    min-width: 100%;
    box-sizing: border-box;
    margin-right: 0px;
}

.carousel-item3:first-child {
    margin-left: 45px;
}


.carousel3 img {    
    width: 90%;
    height: auto;
    margin: 0;
}

.carousel-button3 {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0 20px;
    color: orange;
}

.carousel-button3.prev {
    left: 0;
    margin-top: 10px;
}

.carousel-button3.next {
    right: 0;
    margin-top: 10px;
}

#hr-inferior{
    width: 40%;
    height: 2px;
    margin-top: 50px;
    margin-left: 410px;
}

.dropdownInit{
    background-color: #D9D9D9;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;

}

.dropdown-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #645f5f;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-content .dropdown-item {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.dropdown-content .dropdown-item img {
    margin-right: 0.5rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button img {
    margin-left: 0.5rem;
}

.dropdown {
    position: relative;
    margin-bottom: 100px;
}

.dropdown img.toggle-dropdown {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F7F7F7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    column-count: 2; 
    column-gap: 60px; 
    max-height: 200px; 
    padding: 15px; 
}

.dropdown-item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.dropdown-item img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-menu label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

#distance-dropdown input[type="range"] {
    width: 100%;
}

#distance-value {
    margin-top: 10px;
    display: block;
    text-align: center;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 20px; /* Distância entre a caixa de seleção e o texto */
}

